<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<li th:text="0ac3ecedcd4cfe1ec7c83fa273c343c1 = ${code}|">code</li>
<li th:text="36cd16205273ef61272a32688baaad92 = ${access_token}|">code</li>
<li th:text="a03af94b5f6f0cee3057e7276449b9a2 = ${userInfo}|">code</li>
<li th:text="3f9bd608e0560fe8de14d4ec901e7340 = ${agreementInfo}|">code</li>
<a href="https://kauth.kakao.com/oauth/logout?client_id=2aad40910868e3c5fa9594f8de34a07b&logout_redirect_uri=http://localhost:8080/member/do">로그아웃</a>
</body>
</html>